PORT=
DATABASE="mongodb+srv://username:password@backend.ftdam.mongodb.net/db-name"
JWT_SECRET="CHUOINGAUNHIEN"
EMAIL_USERNAME="abc@gmail.com" # Email cia mat khau ung dung
EMAIL_PASSWORD="matkhau" # mat khau ung dung 
EMAIL_SECURE="false" # false: http, true: https.