extends ../layouts/default

block main
  .container
    .section-12
      .inner-wrap
        h1.inner-title-main.mb-4 Về Chúng Tôi
        .inner-info
          p.mb-3 Chào mừng bạn đến với công ty du lịch của chúng tôi! Chúng tôi cam kết mang đến những trải nghiệm tour tốt nhất, dịch vụ chuyên nghiệp và những hành trình đáng nhớ cho mọi khách hàng.
          p.mb-3 Với nhiều năm kinh nghiệm trong ngành du lịch, đội ngũ của chúng tôi luôn tận tâm giúp bạn khám phá những điểm đến và nền văn hóa mới. Chúng tôi cung cấp đa dạng các tour từ nghỉ dưỡng thư giãn đến các chuyến phiêu lưu, phù hợp với mọi nhu cầu của bạn.
          ul.company-info-list
            li
              i.fa-solid.fa-location-dot.mr-2
              |   Bac Tu Liem, Hanoi
            li
              i.fa-solid.fa-phone.mr-2
              |   0869 998 299 
            li
              i.fa-solid.fa-envelope.mr-2
              |   wangnguenlc79@gmail.com
          p.mt-4 Cảm ơn bạn đã tin tưởng và lựa chọn chúng tôi cho những chuyến đi của mình!
