extends ../layouts/default.pug

block main
  .section-404
    img(src="/assets/images/error-404.svg" class="inner-image" alt="404 Error")
    h1(class="inner-title") Trang này không tồn tại...
    a(href=`/` class="inner-back") Trở về trang chủ