extends ../layouts/default.pug

block main
  .container
    .section-11(style="padding-top: 20px;")
      .inner-wrap
        h4 Cảm ơn quý khách đã đặt tour! Chúng tôi sẽ liên hệ lại với quý khách trong thời gian sớm nhất.
        .inner-head
          .inner-title Thông tin đơn hàng
        p Mã đơn hàng: OD0123456789
        p Tên khách hàng: Le Van A
        p Số điện thoại: 0123456789
        p Ghi chú: Test
        p Phương thức thanh toán: Thanh toán tiền mặt
        p Trạng thái thanh toán: Chưa thanh toán
        p Trạng thái đơn hàng: Khởi tạo
        p Ngày đặt: 16:40 - 10/10/2025

    .section-11(style="padding-top: 20px;")
      .inner-wrap
        .inner-head
          .inner-title Danh sách tour
        .inner-tour-list
          // Tour Item
          .inner-tour-item
            .inner-product
              .inner-image
                a(href="#")
                  img(
                    alt="" 
                    src="/assets/images/banner-16.png"
                    )
              .inner-content
                .inner-title
                  a(href="#") Tour Châu Âu Đón Noel | 11N10D | Pháp – Thụy Sĩ – Ý
                .inner-meta
                  .inner-meta-item
                    | Ngày Khởi Hành: 
                    b 20/10/2024
                  .inner-meta-item
                    | Khởi Hành Tại: 
                    b Hà Nội
            .inner-quantity
              label.inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-price
                    span 1
                    span x
                    span.inner-highlight 10.000.000
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-price
                    span 0
                    span x
                    span.inner-highlight 7.990.000
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-price
                    span 0
                    span x
                    span.inner-highlight 5.990.000
          // End Tour Item
        .inner-list-price
          .inner-item
            .inner-label Tổng tiền:
            .inner-price 15.070.000đ
          .inner-item
            .inner-label Giảm:
            .inner-price -0đ
          .inner-item
            .inner-label Thanh toán:
            .inner-price-highlight 17.070.000đ
