extends ../layouts/default.pug

block main
  h1.box-title Đổi mật khẩu

  .section-13
    form#profile-change-password-form
      .inner-group
        label.inner-label(for="password") Mật khẩu mới
        input(type="password" id="password" name="password")
      .inner-group
        label.inner-label(for="confirmPassword") Nhập lại mật khẩu mới
        input(type="password" id="confirmPassword" name="confirmPassword")

      .inner-button
        button(type="submit") Đổi mật khẩu
    .inner-back
      a(href=`/${pathAdmin}/profile`) Quay lại
