extends ../layouts/default.pug
include ../mixins/box_breadcrumb.pug
block main
  -
    var breadcrumb = {
      image: "/assets/images/banner-6.jpg",
      title: "Tour Nước Ngoài",
      list: [
        {
          link: "/",
          title: "Trang chủ"
        },
        {
          link: "/tours",
          title: "Tours nước ngoài"
        }
      ]
    };
  // Breadcrumb
  +box_breadcrumb(breadcrumb)
  // End Breadcrumb