extends ../layouts/default.pug

block main
  if(permissions.includes("general-setting"))
    h1.box-title Cài đặt chung

    //- Section 9
    .section-9
      if(permissions.includes("webiste-info-edit"))
        a(href=`/${pathAdmin}/setting/website_info` class="inner-item")
          .inner-icon <i class="fa-solid fa-info"></i>
          .inner-text Thông tin website
      if(permissions.includes("account-admin-view"))
        a(href=`/${pathAdmin}/setting/account_admin/list` class="inner-item")
          .inner-icon <i class="fa-solid fa-user-tie"></i>
          .inner-text Tài khoản quản trị
      if(permissions.includes("role-view"))
        a(href=`/${pathAdmin}/setting/role/list` class="inner-item")
          .inner-icon <i class="fa-solid fa-user-gear"></i>
          .inner-text Nhóm quyền
    //- End Section 9